<div class="container" >
  <h1 class="text-center mt-5 mb-4">Edit your profile</h1>
  <%= render 'form' %>
  <div class="my-4">
    <%= link_to 'Back to home', root_path, class: "link" %>
  </div>
</div>