<div id="page-content">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About Page</h1>
      <p class="lead">This is the about page of our blog, here is where we write a description for the topics of our blog.</p>
      <p class="lead">You can check the articles by clicking in the "articles listing" button.</p>
      <%= link_to 'Home page', root_path, class: "btn btn-secondary btn-lg" %> |
      <%= link_to 'Sign up', signup_path, class: "btn btn-primary btn-lg" %>
    </div>
  </div>
</div>

